<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<h1>Welcome to the home page!</h1>
<h2>Available <b>endpoints</b> are:</h2>
<ul>
    <li><b>ViewModel endpoints:</b>
        <ul>
            <li><a href="/view/greeting">Greeting (View)</a></li>
            <li><a href="/view/exception">Exception (View)</a></li>
        </ul>
    </li>
    <li><b>REST-like endpoints:</b>
        <ul>
            <li><a href="/rest/greeting">Greeting (Rest)</a></li>
            <li><a href="/rest/exception">Exception (Rest)</a></li>
        </ul>
    </li>
    <li><b>Routed endpoints:</b>
        <ul>
            <li><a href="/route/greeting">Greeting (Rest)</a></li>
            <li><a href="/route/page">Greeting (View)</a></li>
            <li><a href="/route/page/Olek">Greeting Parametrized (View)</a></li>
            <li><a href="/route/customException">Custom Exception</a></li>
            <li><a href="/route/exception">Internal error (Default error page)</a></li>
            <li><a href="/route/nonExisting">Not found (Custom 404 page)</a></li>
            <li><a href="/route/handledException">Handled exception</a></li>
            <li><a href="/pdf">PDF</a></li>
        </ul>
    </li>
</ul>
</body>
</html>