<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
Welcome to the home page!<br>
Available <b>endpoints</b> are:<br>
<a href="/route/greeting">Routed greeting</a> : http://localhost:8080/route/greeting <br>
<a href="/nonexistingendpoint">Non existing, displays dedicated, custom 404 page</a> :
http://localhost:8080/nonexistingendpoint <br>
<a href="/route/exception">Results in server error, displays dedicated, default error page</a> :
http://localhost:8080/route/exception <br>

</body>
</html>